.dropload-up, .dropload-down {
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    font-family: "微软雅黑";
    /* 开启硬件加速 */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.dropload-down {
    height: 30px;
}

.dropload-refresh, .dropload-update, .dropload-load, .dropload-noData {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.dropload-refresh > i .dropload-update > i {
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}

.dropload-load {
    text-align: center;
}

.dropload-load .iconfont {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
    animation: rotate 1s linear 0;
    animation-iteration-count: infinite;
    animation-play-state: running;
    -webkit-animation: rotate 1s linear 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}